
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.min.js"></script>
<!--Bringing in Bootstrap-->
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>