        <footer>
            <p>All rights reserved by Georgian College Research Department and the Orillia Police Department</p>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/javascripts/jquery.min.js"></script>
        <!--Bringing in Bootstrap-->
        <script src="/javascripts/bootstrap.min.js"></script>
        <!--Leaflet-->
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <!--Map Scripts-->
        <script src="/javascripts/leaflet.js"></script>
    </body>
</html>