<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Importing the Bootstrap CSS.-->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <!--Importing the Font awesome font-->
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
        <!--Leaflet CDN-->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <!--Custom CSS-->
        <link href='/stylesheets/master.css' rel='stylesheet' />
        <!--Linking the Font in from Google Font.-->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    </head>
<body>
