<%- include partials/header.ejs %>


<div class="container-fluid">
  <div class="row-fluid">
    <div class=" centering text-center">
      <section class="background-white">
        <img src="/images/research-crest-logo.png" alt="">
      <form class="container login-form" method="POST" action="">

          <h2 class="login-form-input">Login</h2>
          <section class="form-group">
            <label for="username" class="sr-only">Username:</label>
            <input class="form-control login-form-input" type="text" title="username" placeholder="Username">
          </section>

          <section class="form-group">
            <label for=""></label>
            <input class="form-control login-form-input" type="password" title="Password" placeholder="Password">
          </section>

          <section>
            <input class="btn btn-primary" type="submit">
          </section>
        <p class="login-footer">Made with <i class="fa fa-heart"></i> by Pixel{ate}</p>
      </form>
        </section>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>