<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<main role="main">
    <section class="hero-img">
        <section class="container">
            <h1>Welcome to Georgian College's <br> research program application </h1> <br>
            <a class="button" href="#instructions">App Instructions</a> <a class="button" href="map.ejs">Add to Map</a>
        </section>
    </section>

    <section id="instructions">
        <div class="container">
            <h1 class="page-header-title">How do I use this app?</h1>

            <!--Step 1
            =========================================================================================================-->
            <div id="step-1" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <img class="steps" src="/images/landing/step1.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                <p>Click/tap on the map tab, make sure you have your location finder on. This will take you to the map page where you will be able to use the program.</p>
                </div>
            </div>

            <!--Step 2
            =========================================================================================================-->
            <div id="step-2" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <img class="steps" src="/images/landing/step2.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>This is a Par</p>
                </div>
            </div>

            <!--Step 3
            =========================================================================================================-->
            <div id="step-3" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <img class="steps" src="/images/landing/step3.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>This is a Par</p>
                </div>
            </div>

            <!--Step 4
           =========================================================================================================-->
            <div id="step-4" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <img class="steps"src="/images/landing/step4.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>This is a Par</p>
                </div>
            </div>

            <!--Step 5
           =========================================================================================================-->
            <div id="step-5" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <img class="steps" src="/images/landing/step5.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>This is a Par</p>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include partials/footer.ejs %>