<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<main role="main">
    <section class="hero-img">
        <section class="container">
            <h1>Welcome to Georgian College's <br> research program application </h1> <br>
            <a class="button" href="#instructions">App Instructions</a> <a class="button" href="/map">Add to Map</a>
        </section>
    </section>

    <section id="instructions">
        <div class="container">
            <h1 class="page-header-title">How do I use this app?</h1>

            <!--Step 1
            =========================================================================================================-->
            <div id="step-1" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <img class="steps" src="/images/landing/step1.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3>Use the Map Tab</h3>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                <p>Click/tap on the map tab, make sure you have your location finder on. This will take you to the map page where you will be able to use the program.</p>
                </div>
            </div>
            <hr>
            <!--Step 2
            =========================================================================================================-->
            <div id="step-2" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <img class="steps" src="/images/landing/step2.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3>Input Information</h3>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>Input the information for the street you are on through the accordion menu on the left hand side (or bottom if you are using a mobile device). Make sure to fill out as much information as needed for further review and implementation.</p>
                </div>
            </div>
            <hr>
            <!--Step 3
            =========================================================================================================-->
            <div id="step-3" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <img class="steps" src="/images/landing/step3.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3>Identify the Zone</h3>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>You may add comments to each section and then press submit. Once you have submitted your form, you will see the results on the map. The colour you have indicated will also appear in the zone you are in. You may click on/tap or hover over the zone to view futher options.</p>
                </div>
            </div>
            <hr>
            <!--Step 4
           =========================================================================================================-->
            <div id="step-4" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <img class="steps"src="/images/landing/step4.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3>Add Comments</h3>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>You may add comments to each section and then press submit. Once you have  submitted your form, you will see the results on the map. The colour you have indicated will also appear in the zone you are in. You may click on/tap or hover over the zone to view futher options.</p>
                </div>
            </div>
            <hr>
            <!--Step 5
           =========================================================================================================-->
            <div id="step-5" class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <img class="steps" src="/images/landing/step5.svg" alt="">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <h3>Options on your Submission</h3>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <p>Your submission will appear on the map where you can tap/click on the submission to "Preview PDF" for print, "Edit" your selection or "Delete" the  selection. If you choose to print the document you will have a new screen show you all of information you have filled out for easy printing. Editing will allow you to go back to your menu to make changes to your input.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include partials/footer.ejs %>