/*Main Styles
===========================================================*/
html, body{
    font-family: 'Lato', sans-serif;
    height:100%;
    margin:0;
    padding:0;
}
h1 {
  font-size: 48pt;
  font-weight: 300;
}

h2 {
  font-size: 38pt;
  font-weight: 300;
}

h3 {
  font-size: 30pt;
  font-weight: 300;
}

p {
  font-size: 12pt;
  font-weight: 400;
  line-height: 20pt;
}

body {
    margin-top: 90px;
}

/*Nav
===========================================================*/
/*Setting the padding on the top and bottom of the links in the navbar.*/
.navbar-nav>li>a {
    font-size: 16pt;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
}

/*Changing the colour of the navbar.*/
.navbar-default {
    background-color: #993333;
    border:none;
}

/*Changing the colour of the text in the navbar.*/
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/*Navbar toggle button*/
.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
/* Links
===========================================================*/

a {
  font-size: 12pt;
  font-weight: 400;
  color: black;
}

a:hover {
  color: #993333;
}

/* Buttons
===========================================================*/
button {
  margin: 20px;
  font-size: 16pt;
  padding: 10px 20px;
  background: #993333;
  color: white;
  border: none;
  border-radius: none;
}

button:hover {
  background:#595959;
  transition: all 0.5s ease 0s;
}

/*Login Form
===========================================================*/


.main-background {
  background-image: url(/images/city.jpg);
  height: 100%;

}
.login-form-title {
  margin-top: 0px;
}

.container-fluid {
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;
}

.login-logo {
  width: 60%;
  height: auto;
}

.login-form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 40px;
}

.login-footer {
  padding-top: 10px;
  font-size: 9pt;
}
.form-control {
  border-radius: 0px;
}

